{{#if messages.error}}
{{messages.error}}
{{/if}}

<div class="container-md w-500">
  <div class="card">
    <h2 class="card-title">No content detected</h2>
    <p>No content has been found on the database.<br> Please <a href="/add">add a new stream</a> to get started.</p>
    <a href="/add" class="btn">Add a new stream</a>
  </div>
</div>
