<h1>Live streaming monitor</h1>
<div class="flex-container">
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item">
        Stream
    </div>
    <div class="flex-item online">
        peine
    </div>
    <div class="flex-item">
        Stream 2
    </div>
</div>