<h1>Live streaming monitor</h1>
<div class="flex-container">
    {{#each data}}
        <div class="flex-item" id="{{this._id}}">
            Stream: {{this.name}}
        </div>
    {{/each}}
    <div class="flex-item online">
        peine
    </div>

</div>