<h1>Login form</h1>
{{#if messages.error}}
{{messages.error}}
{{/if}}

<div class="container-md w-500">
  <div class="card">
    <form action="/login" method="POST" class="form-inline w-500 mw-full">
      <div class="form-group">
        <label class="required w-100" for="email">Username</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <label class="required w-100" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required="required">
      </div>
      <button class="btn btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>