h1 {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    padding: 0;
    margin: 0;
}
.flex-item {
    background: rgb(240, 117, 96);
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 5px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 15px;
    border: 3px solid rgb(134, 48, 33);
    order: 1;
  }
.online {
    order: 0; /* default is 0 */
    background: rgb(108, 240, 96);
    border: 3px solid rgb(33, 134, 50);
  }
  